<nav class="navbar bgc-header">
    <div class="container">
        <div>
            <a href="/" id="header-logo">
                <img src="/images/brand.png" alt="BoardGamesCentury Logo">
            </a>
        </div>
        <div>
            <button class="bgc-basket-button" @onclick="HandleOnClick" id="basket">
                Basket
            </button>
        </div>
    </div>
</nav>